.timer{
    color: #fff;
    height: max-content;
    width: max-content;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 1rem 4rem;
    border-radius: 10px;
    font-weight: 900;
    font-size: 3rem;
    filter: drop-shadow(5px 4px 0 #60f);
    transition: 250ms ease;
}
.timer.hidden{
    opacity: 0;
    z-index: -9999;
}