.titlescreen{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    padding: 3em;
    border-radius: 20px;
    text-align: center;
    transition: 250ms ease;
    min-width: 50vw;

    h1{
        font-size: 5em;
        margin: 2rem 0;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-weight: 900;
    }
    
    p{
        font-size: 2em;
        font-weight: 600;
    }
    button{
        font-size: 3em;
        background: #030303;
        color: #444;
        padding: 2em;
        display: grid;
        place-items: center;
        height: max-content;
        margin: auto;
        width: 100%;

        small{
            font-size: 1rem;
            color: #222;
        }
    }

    .title, .gamemodes{
        transition: 250ms ease;
        z-index: 0;
        width: 100%;
    }

    .hidden{
        opacity: 0;
        z-index: -9999;        
    }

    .gamemodes{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .modes{
            display: grid;
            gap: 2rem;
            grid-template-columns: 50% 50%;
            grid-template-areas: "run bomb" "survival survival";
        }
    }
}
.titlescreen.hidden{
    opacity: 0;
    z-index: -9999 !important;
}