body:has(.titlescreen){
    overflow: hidden;
}

.titlescreen{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    padding: 3em;
    border-radius: 20px;
    text-align: center;
    transition: 250ms ease;
    min-width: 50vw;

    h1{
        font-size: 5em;
        margin: 2rem 0;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-weight: 900;
    }
    
    p{
        font-size: 2em;
        font-weight: 600;
    }

    button{
        font-size: 3em;
        background: #030303;
        color: #444;
        padding: 2em;
        display: grid;
        place-items: center;
        width: 100%;

        small{
            font-size: 1rem;
            color: #222;
        }
    }
    .title, .gamemodes{
        // transition: 1s ease;
        z-index: 0;
        width: max-content;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        .legal-info{
            display: flex;
            gap: 1rem;
            margin: 2rem 0;
            width: 100%;
            justify-content: center;

            a {
                color: #bbb;
                padding-bottom: 10px;
            }
        }
    }

    .hidden{
        opacity: 0;
        z-index: -9999;
        // transform: translate(-50%, 200%) !important;     
    }

    .gamemodes{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .modes{
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "run bomb" "survival hardcore";

            a{
                text-decoration: none;
            }
        }
    }
}
.back-button{
    display: flex;
    position: fixed;
    top: 3rem;
    left: 3rem;
    height: max-content;
    width: max-content;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 2rem;
    background: #030303;
    color: #444;
}
.titlescreen.hidden{
    opacity: 0;
    z-index: -9999 !important;
}
