@media screen and (max-width: 1000px) {
    .titlescreen{
        h1{
            font-size: 2em;
            margin-block: 1rem;
        }
        p{
            font-size: .6em !important;
        }
        button{
            padding: 2em !important;
            font-size: 1em !important;
        }
    }
    .back-button{
        padding: .7rem !important;
        top: 2rem !important;
        left: 1.5rem !important;
    }
    .gamemodes{
        width: calc(100% - 2rem) !important;
        .modes{
            margin-inline: auto;
            display: flex !important;
            flex-direction: column;
            gap: 1rem !important;

            button{
                font-size: 1.1em;
                
                small{
                    font-size: .7em;
                }
            }
        }
    }
    .countdown{
        .count{
            font-size: 5em !important;
        }
    }
    .game-view{
        .op{
            font-size: 5.5em !important;
        }
        .input{
            font-size: 3em !important;
            width: 70% !important;
        }
    }
    .counter, .timer{
        font-size: 2em !important;
        top: 1rem !important;
    }
    .counter, .timer, .life-counter{
        padding: 1rem 2rem !important;
    }
    .counter{
        left: 0 !important;
    }
    .timer{
        right: 0 !important;
    }
    .life-counter{
        top: 4.5rem;
        right: 0;
    }
    .finish-screen{
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        width: calc(100% - 4rem) !important;

        button{
            margin-bottom: 2rem;
            font-size: 1.5rem !important;
            width: 100% !important;
            margin-inline: 0 !important;
        }
        >a:has(>button){
            width: 100%;
        }
        h1{
            font-size: 5em !important;
        }
        .stats{
            display: flex !important;
            flex-direction: column;

            h2{
                font-size: 2rem !important;
            }
            p{
                font-size: 2rem !important;
            }
        }
    }

    .privacy-article{
        .title{
            font-size: 2em !important;
        }
        .policy{
            font-size: 1em !important;
        }
    }
}