.titlescreen{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 20px;
    text-align: center;
    transition: 250ms ease;

    h1{
        font-size: 9rem;
        margin: 2rem 0;
        text-transform: uppercase;
        font-weight: 900;
    }
    
    p{
        font-size: 2rem;
        font-weight: 600;
    }
    button{
        font-size: 3rem;
        background: #030303;
        color: #222;
        width: 100%;

    }
}
.titlescreen.hidden{
    opacity: 0;
    z-index: -9999 !important;
}